

.parent-zoom img{
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 200ms;
    -webkit-transition-timing-function: ease;
    cursor:  cell;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    border: 0;
}


.zoomy{
    position: absolute;
    display: none;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 5px 10px #000;
    -moz-box-shadow: 0px 5px 10px #000;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color='#3333333', Positive='true');
    border: 0px solid #333;
    line-height: 100px;
    text-align: center;
    background-color: #fff;
    z-index: 1000;
    overflow: hidden;
    cursor: url(blank.gif), move;
    -webkit-transition-property: border-width, border-color, opacity;
    -webkit-transition-duration: 500ms, 1s, 500ms;
    -webkit-transition-timing-function: ease;

}

.zoomy span{
    display: block;
    margin: 5px auto;
    background: -moz-linear-gradient(top, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.6)), color-stop(100%,rgba(255,255,255,0))); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFFFF, endColorstr=#00ffffff);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#55FFFFFF, endColorstr=#00ffffff);
}


.zoomy a{
    color: #333;
    text-decoration: none;
    outline: 0;
}

.inactive img{
    opacity: 0.85!important;
    filter:alpha(opacity=85)!important;
}

.zoomy #tmp{
    max-width: none;
    max-height: none;
    top: -999999px;
    left: -999999px;
}

.zoomy.start{
        border-width: 2px;
        border-color: #444;
}


